.search-wrapper {
  position: relative;

  &__input {
    line-height: 24px;
    border: #eee 1px solid;
    padding: 0 20px 0 7px;
    outline: none;
  }

  &::after {
    content: '\1F50E';
    position: absolute;
    right: 4px;
    font-size: 12px;
    top: 9px;
  }
}
